body{
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    background-color: rgb(27, 26, 26);
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: linear-gradient(116deg,#502870,#b6191b);
    color: #ffffff;
    padding-top: 10px;
    min-height: 50px;
    border-bottom: rgb(255, 255, 255) 3px solid;
    
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin:0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin:0;
}

header nav{
    float: right;
    margin-top: 10px;
    padding-right: 10px;
}

header .current a{
    color: rgb(59, 26, 26);
    font-weight: bold;
}

header a:hover{
    color: #691212;
    font-weight: bold;
}

.title h2{
    font-size: 50px;
    color: rgb(143, 0, 0);
    margin-left: 810px;
}
.tf{
    color: rgb(0, 0, 0);
    margin-left: 100px;
}
.title{
    background-image: url(download\ \(2\).jfif);
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    font-style: bold;
}

.team-section{
background: linear-gradient(135deg,#000000,#434343);
text-align: center;
}

.ba{
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}

.profile-content-wrapper h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 37px;
}

.profile-content-wrapper h4{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-content-wrapper p{
color: white;
}

.profile-image-wrapper img{
    width: 270px;
    height: 320px;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 0px;
    padding: 75px;
}

.profile-content-wrapper{
    padding: 80px;
}

.banner-area h1{
    font-size: 30px;
    margin-left: 750px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.inner-width{
    max-width: 1200px;
    margin: auto;
    margin-top: 0px;
    padding: 1px;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.teamsection h1{
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
}
.pe{
    float: left;
    width: calc(100% / 3);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
    color: whitesmoke;
}

.pe:hover{
    background: rgb(0, 0, 0);
}
.pe img{
    width: 120px;
    height: 120px;
}

.p-name{
    margin: 16px 0;
    text-transform: uppercase;
}
.p-des{
    font-style: italic;
    color: rgb(255, 173, 244);
}
.p-sm{
    margin-top: 12px;
}
.p-sm a{
    margin: 0 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}
.p-sm a:hover{
    transform: scale(1.3);
}
.p-sm a i{
    color: rgb(236, 126, 126);
    line-height: 30px;
}

@media screen and (max-width: 600px) {
    .pe{
        width: 100%;
    }
}

#showcase{
    min-height: 400px;
    background: url('../img/wallpaper.png') no-repeat 0;
    text-align: center;
    color: white;
}

#showcase .logo{
    margin-top: 70px;
    margin-left: 0px;
    
}

#showcase h1{
    margin-top: 30px;
    font-size:55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}
