@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container-header{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: linear-gradient(116deg,#502870,#b6191b);
    color: #ffffff;
    padding-top: 10px;
    min-height: 60px;
    border-bottom: rgb(255, 255, 255) 3px solid;
    
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin:0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin:0;
}

header nav{
    float: right;
    margin-top: 10px;
    padding-right: 10px;
}

header .current a{
    color: rgb(59, 26, 26);
    font-weight: bold;
}

header a:hover{
    color: #691212;
    font-weight: bold;
}

section
{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 80vh;
    background-color: rgb(241, 241, 241);
}

section .container
{
    position: relative;
    min-width: 1000px;
    min-height: 500px;
    display: flex;
    z-index: 1000;
}

section .container .contactinfo 
{ 
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: linear-gradient(135deg, #000000,#434343 );
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .container .contactinfo h2
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactinfo .info 
{
    position: relative;
    margin: 20px 0;
}

section .container .contactinfo .info li
{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .container .contactinfo .info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
section .container .contactinfo .info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(2)
{
    color: white;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;

}

section .container .contactinfo .info li:hover span:nth-child(1) img,
section .container .contactinfo .info li:hover span:nth-child(2)
{
    opacity: 1;
}

section .container .contactinfo .sci
{
    position: relative;
    display: flex;
}
section .container .contactinfo .sci li
{
    list-style: none;
    margin-right: 15px;
}
section .container .contactinfo .sci li a
{
 text-decoration: none;
}
section .container .contactinfo .sci li a img
{
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactinfo .sci li:hover a img
{
    opacity: 1;
}
section .container .contactForm
{
    position: absolute;
    padding: 70px 50px;
    background: white;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
section .container .contactForm h2
{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactForm .formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container .contactForm .formBox .inputBox
{
    position: relative;
    margin: 0 0 35px 0;
}
section .container .contactForm .formBox .inputBox.w50
{
    width: 47%;
}
section .container .contactForm .formBox .inputBox.w100
{
    width: 100%;
}
section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea
{
    width: 100% !important;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
section .container .contactForm .formBox .inputBox textarea
{
    min-height: 120px;
}
section .container .contactForm .formBox .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.3s;
    pointer-events: none;
}
section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}
section .container .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: #242323;
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
}
section .container .contactForm .formBox .inputBox input[type="submit"]:hover
{
    background: #ff568c;
}

footer{
    background: linear-gradient(135deg,#502870,#b6191b);
    padding: 50px 0;
    border-top: rgb(255, 255, 255) 3px solid;
}

.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.social-media{
    margin: 20px 0;
}

.social-media a{
    color:  #ffffff;
    margin-right:  25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.left-col{
    color: white;
}
.social-media a:hover{
    color: #ac273b;
}
.contact{
    color: rgb(255, 255, 255);
}
.border{
    width: 100px;
    height: 4px;

}

#Button{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#Button a{
    position: relative;
    left: 0px;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}
